body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,103,1) 35%, rgba(0,212,255,1) 100%);
    margin: 0 !important;
    padding: 0 !important;
}

#tablaAlumnos{
    color: white !important;
}

.rowTablaAlumno{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(50vh - var(--header-height));
}

.rowBuscadorAlumno{
    margin-top: 4% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}